Java/PracticasJava/PracticasJava/PracticasJava/classes/

# Se simplifica con comodines
**/classes/*
**/.data/**
**/deploy/*
**/temp/*
**/results/*
**/*.tmp
**/*.re

# Archivos de MS Office temporales
**/*~$-*.*
/Java/Curso Udemy/JavaEE/Leccion2/HolaMundoEjb/nbproject/
/Java/Curso Udemy/JavaEE/Leccion2/HolaMundoEjb/target/