Java/PracticasJava/PracticasJava/PracticasJava/classes/

# Se simplifica con comodines
**/classes/*
**/.data/**
**/deploy/*
**/temp/*
**/results/*
**/*.tmp
**/*.re
**/nbproject/**
**/target/**


# Archivos de MS Office temporales
**/*~$-*.*

